{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>
<a href="{% url 'password_reset' %}" >Forgot Password</a> | <a href="{% url 'signup' %}" >Signup</a>
{% endblock %}