{% extends "base.html" %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
<h3>{{ object.name }}</h3>
<ul>
    <li>Start Time: {{ object.start_time }}</li>
    <li>End Time: {{ object.end_time }}</li>
</ul>
<p>{{ object.description|linebreaks }}</p>
{% endblock %}
