{% extends "base.html" %}

{% block title %}All Events{% endblock %}

{% block content %}
<h3>Events</h3>
<ul>
    {% for event in events %}
        <li><a href="{% url "event_detail" event.id %}">{{ event.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
