{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
<h1>Log-in</h1>

<div class="module">
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% else %}
        <p>Please, use the following form to log-in:</p>
    {% endif %}

    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input type="submit" value="Log-in"></p>
        </form>
        <a href="{% url 'password_reset' %}" >Forgot Password</a> | <a href="{% url 'signup' %}" >Signup</a>

        <!--<form id="loginForm" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="twelve columns">
                    <label for="email">Username/Email Address</label>
                    <input type="text" name="email" id="emailField" placeholder="name@example.com" required/>

                    <label for="password">Password</label>
                    <input type="password" name="password" id="passwordField" placeholder="password" required/>

                    <input type="hidden" name="next" value="{{ next }}" />

                    <button type="submit" class="button-primary">Sign In</button>
                </div>
          </div>
        </form>-->

    </div>
</div>
{% endblock %}