{% extends 'base.html' %}

{% block title %}Password Reset{% endblock %}

{% block content %}
    <h3>Forgot password</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
{% endblock %}
