{% extends "base.html" %}

{% block title %}Delete event{% endblock %}

{% block content %}
    <h1>Delete event "{{ object.name }}"</h1>
    <div class="module">
        <form action="" method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{ object }}"?</p>
            <input type="submit" class="button" value="Confirm">
        </form>
    </div>
{% endblock %}