{% extends "base.html" %}

{% block title %}
    {% if object %}
        Edit event "{{ object.name }}"
    {% else %}
        Add a new event
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if object %}
            Edit event "{{ object.name }}"
        {% else %}
            Add a new event
        {% endif %}
    </h1>
    
    <div class="module">
        <h2>Event info</h2>
        <form action="" method="post" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Save Event"></p>
        </form>
    </div>
{% endblock %}
