{% extends "base.html" %}

{% block title %}My Events{% endblock %}

{% block content %}
    <h1>My Events</h1>

    <table class="u-full-width">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for event in object_list %}
            <tr>
                <td>{{ event.name }}</td>
                <td>
                    <a href="{% url 'event_edit' event.id %}">Edit</a> |
                    <a href="{% url 'event_delete' event.id %}">Delete</a> |
                    <a href="#">Edit tickets</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">You haven't created any events yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>
        <a href="{% url 'event_create' %}" class="button">Create new Event</a>
    </p>
{% endblock %}