{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{% block title %}{% trans "Home" %}{% endblock %} | Events Management</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">

</head>
<body>

  <!-- Primary Page Layout
  ––––––––––––––––––––––––––––––––––––––––––––––––––-->
  <div class="container">
  
    </br>
    <div class="navbar-spacer"></div>
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item"><a class="navbar-link" href="{% url 'event_list' %}">Home</a></li>
          <li class="navbar-item"><a class="navbar-link" href="#">Home</a></li>
          <li class="navbar-item"><a class="navbar-link" href="#">Home</a></li>
          <li class="navbar-item"><a class="navbar-link" href="#">Home</a></li>

          {% if request.user.is_authenticated %}
            <li class="navbar-item"><a class="navbar-link" href="{% url "logout" %}">Sign out</a></li>
          {% else %}
            <li class="navbar-item"><a class="navbar-link" href="{% url "login" %}">Sign in</a></li>
          {% endif %}


        </ul>
      </div>
    </nav>
    
    
    {% block content %}
    {% endblock %}
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
